<p id="notice"><%= notice %></p>

<p>
  <strong>Farm:</strong>
  <%= @farmsensor.farm.location %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @farmsensor.sensor.name %>
</p>

<%= link_to 'Edit', edit_farmsensor_path(@farmsensor) %> |
<%= link_to 'Back', farmsensors_path %>
