<ul class="nav nav-tabs nav-justified">
  <!-- <li role="presentation" class="active"><%= link_to "Farmers" %></li> -->
  <li role="presentation" ><%= link_to "Crops", crops_path %></li>
  <li role="presentation" ><%= link_to "Farms", farms_path %></li>
  <li role="presentation" ><%= link_to "Sensors", sensors_path %></li>
  <li role="presentation" ><%= link_to "FarmCrop", farmcrops_path %></li>
  <li role="presentation" ><%= link_to "FarmSensor", farmsensors_path %></li>
  <li role="presentation"><%= link_to "Temperatures", temperatures_path %></li>	
</ul>