<div class="top-grid">
	 <div class="container">
		 <div class="top-grid-section">
			 <div class="col-md-2 top-grids">
			 	<img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/green-jelly-icons-transport-travel/039004-green-jelly-icon-transport-travel-tractor3.png" alt="" width=100px/>
				
				 <h3><%= link_to "Farms", farms_path %></h3>
			 </div>
			 <div class="col-md-2 top-grids">
				<img src="http://cdn.mysitemyway.com/icons-watermarks/simple-green-gradient/ocha/ocha_other-cluster-agriculture/ocha_other-cluster-agriculture_simple-green-gradient_96x96.png" alt="" />
				 <h3><%= link_to "Crops", crops_path %></h3>
			 </div>
			 <div class="col-md-2 top-grids">
			 	<img src="
				 http://cdn.mysitemyway.com/icons-watermarks/simple-green-gradient/iconathon/iconathon_solar-farm/iconathon_solar-farm_simple-green-gradient_96x96.png" alt="" width = 100px/>
				 <h3><%= link_to "Sensors", sensors_path %></h3>
				 
			 </div>
			 <div class="col-md-2 top-grids">
				 <img src="
				 http://cdn.mysitemyway.com/icons-watermarks/simple-green-gradient/iconathon/iconathon_community-garden/iconathon_community-garden_simple-green-gradient_96x96.png" alt="" width =100px/>

				 <h3><%= link_to "FarmCrop", farmcrops_path %></h3>
			 </div>
			  <div class="col-md-2 top-grids">
				<img src="
				 http://cdn.mysitemyway.com/icons-watermarks/simple-green-gradient/iconathon/iconathon_locally-grown/iconathon_locally-grown_simple-green-gradient_96x96.png" width =100px/>

				 <h3><%= link_to "FarmSensor", farmsensors_path %></h3>
			 </div>
			  <div class="col-md-2 top-grids">
				 <img src="
				 http://cdn.mysitemyway.com/icons-watermarks/simple-green-gradient/raphael/raphael_sun-cloudy/raphael_sun-cloudy_simple-green-gradient_96x96.png" alt="" width =100px/>

				 <h3><%= link_to "Temperatures", temperatures_path %></h3>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>