 <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Temp', 'Humi'],
          ['2004',  35,      45],
          ['2005',  38,      43],
          ['2006',  42,      22],
          ['2007',  45,      25]
        ]);

        var options = {
          title: 'Temperatures Humidity ',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    
    <div class="top-grid" >
	 <div class="container">
		 <div class="top-grid-section">
			 <div class="col-md-2 top-grids">
			 	<img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/green-jelly-icons-transport-travel/039004-green-jelly-icon-transport-travel-tractor3.png" alt="" width=100px/>
				
				 <h3><%= link_to "Farms", farms_path %></h3>
			 </div>
			 <div class="col-md-2 top-grids">
				<img src="http://cdn.mysitemyway.com/icons-watermarks/simple-green-gradient/ocha/ocha_other-cluster-agriculture/ocha_other-cluster-agriculture_simple-green-gradient_96x96.png" alt="" />
				 <h3><%= link_to "Crops", crops_path %></h3>
			 </div>
			 <div class="col-md-2 top-grids">
			 	<img src="
				 http://cdn.mysitemyway.com/icons-watermarks/simple-green-gradient/iconathon/iconathon_solar-farm/iconathon_solar-farm_simple-green-gradient_96x96.png" alt="" width = 100px/>
				 <h3><%= link_to "Sensors", sensors_path %></h3>
				 
			 </div>
			 <div class="col-md-2 top-grids">
				 <img src="
				 http://cdn.mysitemyway.com/icons-watermarks/simple-green-gradient/iconathon/iconathon_community-garden/iconathon_community-garden_simple-green-gradient_96x96.png" alt="" width =100px/>

				 <h3><%= link_to "FarmCrop", farmcrops_path %></h3>
			 </div>
			  <div class="col-md-2 top-grids">
				<img src="
				 http://cdn.mysitemyway.com/icons-watermarks/simple-green-gradient/iconathon/iconathon_locally-grown/iconathon_locally-grown_simple-green-gradient_96x96.png" width =100px/>

				 <h3><%= link_to "FarmSensor", farmsensors_path %></h3>
			 </div>
			  <div class="col-md-2 top-grids">
				 <img src="
				 http://cdn.mysitemyway.com/icons-watermarks/simple-green-gradient/raphael/raphael_sun-cloudy/raphael_sun-cloudy_simple-green-gradient_96x96.png" alt="" width =100px/>

				 <h3><%= link_to "Temperatures", temperatures_path %></h3>
			 </div>
			 <div class="clearfix"></div>
			 <!-- <div id="curve_chart" style="width: 400px; height: 250px"></div> -->
		 </div>
	 </div>
</div>

  </body>
</html>
   