<%= form_for(@crop) do |f| %>
  <% if @crop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crop.errors.count, "error") %> prohibited this crop from being saved:</h2>

      <ul>
      <% @crop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-striped table-hover">
    <tr>
  <div class="field">
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <td><%= f.label :ideal_temp %></td>
    <td><%= f.text_field :ideal_temp %></td>
  </div>
  </tr>
    <tr>
  <div class="field">
    <td><%= f.label :ideal_humi %> </td>
    <td><%= f.text_field :ideal_humi %> </td>
  </div>
  </tr>
    <tr>
  <div class="field">
    <td><%= f.label :ideal_mois %> </td>
    <td><%= f.text_field :ideal_mois %> </td>
  </div>
  </tr>
    <tr>
  <div class="field">
    <td><%= f.label :min_temp %> </td>
    <td><%= f.text_field :min_temp %> </td>
  </div>
</tr>
<tr>
  <div class="field">
    <td><%= f.label :max_temp %> </td>
    <td><%= f.text_field :max_temp %> </td>
  </div>
</tr>
<tr>
  <div class="field">
    <td><%= f.label :min_humi %> </td>
    <td><%= f.text_field :min_humi %> </td>
  </div>
  </tr>
    <tr>
  <div class="field">
    <td><%= f.label :max_humi %></td>
    <td><%= f.text_field :max_humi %> </td>
  </div>
  </tr>
    <tr>
  <div class="field">
    <td><%= f.label :min_mois %> </td>
    <td><%= f.text_field :min_mois %> </td>
  </div>
</tr>
<tr>
  <div class="field">
    <td><%= f.label :max_mois %> </td>
    <td><%= f.text_field :max_mois %> </td>
  </div>
  </tr>
    <tr>
  <div class="actions">
     <td><%= f.submit %> </td>
  </div>
 </tr> 
  </table>
<% end %>
