<p id="notice"><%= notice %></p>

<h1>Listing Crops</h1>
 <div class="row">
    <div class="col-lg-7">
      <table class="table table-striped table-hover">
  <thead>
    <tr>
    <th>ID</th>
      <th>Name</th>
      <th>Ideal temp</th>
      <th>Ideal humi</th>
      <th>Ideal mois</th>
      <th>Min temp</th>
      <th>Max temp</th>
      <th>Min humi</th>
      <th>Max humi</th>
      <th>Min mois</th>
      <th>Max mois</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crops.each do |crop| %>
      <tr>
      <td><%= crop.id %></td>
        <td><%= crop.name %></td>
        <td><%= crop.ideal_temp %></td>
        <td><%= crop.ideal_humi %></td>
        <td><%= crop.ideal_mois %></td>
        <td><%= crop.min_temp %></td>
        <td><%= crop.max_temp %></td>
        <td><%= crop.min_humi %></td>
        <td><%= crop.max_humi %></td>
        <td><%= crop.min_mois %></td>
        <td><%= crop.max_mois %></td>
        <td><%= link_to 'Show', crop %></td>
        <td><%= link_to 'Edit', edit_crop_path(crop) %></td>
        <td><%= link_to 'Destroy', crop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%= link_to 'New Crop', new_crop_path %>
